# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
.venv/
env/
.env

# Editor/IDE specific files
.vscode/
.idea/
*.swp
*.bak
*.swo

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Operating system files
.DS_Store
Thumbs.db

# Other common exclusions
*.log
*.sqlite3

# Stamps
Stamps/Inbox/*
Stamps/Slices/*
Stamps/Workflow/*/*.jpg